.idea/*
*.iml
*.class
*.prefs
.project
/logs
hnclient-v2/logs/
hnclient-v2/target/
hnclient-v2/.idea/*
hnclient-v2/.classpath
hnclient-v2/.settings/org.eclipse.core.resources.prefs
hnclient-v2/src/main/java/ca/bc/gov/hlth/hnclientv2/tmp/output/hni.txt
mock-point-of-service/target/
mock-point-of-service/.idea/*
mock-point-of-service/.classpath
moh-hni-bathl7/target/

