/hns-client-installer/application.properties
/hns-client-installer/hns-client.jar
/hns-client-installer/HNS-Client.xml
/hns-client-installer/log4j2.properties
/hns-client-installer/hns-client-installer.zip
